{% extends 'courses/basic.html' %}

{% block title %} Android {% endblock %}
{% block body %}
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">Its all started with iCoder ideas. <span
                        class="text-muted">iCoders</span></h2>
                <p class="lead">iCoder is basically for iCoders!!<br>This is made by two people of krishna engineering
                    college
                    <br><b>Mr Arbaz khan</b><br><b> Mr Ayush Agrawal </b><br>
                    and we are always available for you.</p>
            </div>
            <div class="col-md-5">
                <img src="https://source.unsplash.com/400x400/?technology1" alt=""
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-fluid"
                    width="500" height="500">
            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2 my-4">
                <h2 class="featurette-heading">Benefits of Online learning. <span class="text-muted">iCoders</span></h2>
                <p class="lead">Flexibility. Students have the freedom to juggle their careers and school because they
                    aren't tied down to a fixed schedule. ...
                    Reduced Costs.<br> Online education can cost less due to a variety of reasons. ...<br>
                    Networking Opportunities. ...<br>
                    Documentation. ...<br>
                    Increased Instructor - Student Time. ...<br>
                    Access to Expertise.<br>
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://source.unsplash.com/400x400/?information, laptop" alt=""
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-fluid"
                    width="500" height="500">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">Always stand for you. <span class="text-muted">iCoders</span></h2>
                <p class="lead">Users!! we always standing for you all. And always feel free to ask any query and your
                    related doubts about our respective programs </p>
            </div>
            <div class="col-md-5">
                <img src="https://source.unsplash.com/400x400/?online, classes" alt=""
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto img-fluid"
                    width="500" height="300">
            </div>
        </div>

    </div>
    {% endblock %}