
{% extends 'courses/basic.html' %}

{% block title %} Android {% endblock %}
{% block body %}
    <div class="container my-3">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="jumbotron my-3">
            <img src="https://source.unsplash.com/400x400/?user,person" alt="..." class="img-thumbnail" height="200px" width="200px">
            <h1 class="display-4">Hello, Users!</h1>
            <p class="lead">hey! to all, who are currently visiting that site. So basically guyz iCoder is an web
                sites for all learners who want to learn and grab the most amazing upcoming and existing technologies in
                a very easiest and simple manner.<br> I am defininatly sure about that you guyz will love to learn
                from there.</p>
            <hr class="my-4">
            <p>We always try to put something new for you  guyz thats why we are still updating our web sites to provide
                you more better and effective learning.<br>
            <h5>ALL THE BEST!!</h5>
            </p>
            <a class="btn btn-primary btn-lg" href="/courses" role="button">Back to home</a>
        </div>
    </div>

    {% endblock %}
