{% extends 'courses/basic.html' %}

{% block title %} Android {% endblock %}
{% block body %}
    <div class="container my-3">
        <div class="jumbotron my-3">

            <h1 class="display-4">Privacy and Terms</h1>
            <p class="lead">These Terms of Service reflect the way iCoder’s business works, the laws that apply to our
                company, and certain things we’ve always believed to be true. As a result, these Terms of Service help
                define iCoder’s relationship with you as you interact with our services. For example, these terms
                include the following topic headings:<br><br>

                1.What you can expect from us, which describes how we provide and develop our services<br>
                2.What we expect from you, which establishes certain rules for using our services<br>
                3.Content in iCoder topics, which describes the intellectual property rights to the content you find in
                our services — whether that content belongs to you, iCoder, or others<br>
                4.In case of problems or disagreements, which describes other legal rights you have, and what to expect in
                case someone violates these terms</p>
            <hr class="my-4">
            <p>This Privacy Policy is meant to help you understand what information we collect, why we collect it, and
                how you can update, manage, export, and delete your information.<br>
            <h5>ALL THE BEST!!</h5>
            </p>
            <a class="btn btn-primary btn-lg" href="/courses" role="button">Back to home</a>
        </div>
    </div>

{% endblock %}


